@font-face {
  font-family: happy;
  src: url(fonts/Happy_Chicken.ttf);
}

@font-face {
  font-family: nexa;
  src: url(fonts/Nexa-ExtraLight.ttf);
}

@font-face {
  font-family: nexaHeavy;
  src: url(fonts/Nexa-Heavy.ttf);
}


html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #ffe3f5;
}

@media (hover: hover) {
  button:hover, .setEditIcon:hover, .exitIcon:hover, 
  .setContainer:hover, .setEditIcon:hover, .cardEditIcon:hover  {
      opacity: .5;
      cursor: pointer;
  }
}

.cover {
  width: 100%;
  height: 100%;
  background-color: #4142459a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.horContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  width: 100%;
}

.verContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-area: overlap;
}

#setsPageHeader, #flashcardPageHeader
{
  position: relative;
}

.drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.drop-message {
  font-size: 18px;
}

@media (orientation: landscape) {
  h1
  {
    font-family: happy;
    letter-spacing: .5vh;
    color: #45404b;
    margin: 4vh 4vh;
  }
  #allSetsContainer
  {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr)); 
    gap: 4vh; 
    width: 95%; 
    margin: 0 0 4vh 0;
  }
  #allFlashcardsContainer
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    width: 95%; 
    margin: 0 0 4vh 0;
  }
  .setContainer
  {
    flex: 1; /* Equal width for all items */
    background-color: rgb(245, 157, 201);
    width: 100%;
    height: 30vh;
    border-radius: 5vh;
    position: relative;
  }
  .cardContainer
  {
    flex: 0 0 48%; /* This sets each item to be a maximum of 48% width, allowing for two columns */
    margin-bottom: 20px;
    align-self: flex-start; 
    background-color: rgb(243, 178, 210);
    border-radius: 5vh;
    position: relative;
    padding: 0 0 9vh 0;
  }
  .learned 
  {
    background-color: rgb(171, 205, 178);
  }
  .learnedText
  {
    color: rgb(255, 255, 255);
    font-size: 2.5vh;
    font-family: nexaHeavy;
    margin: 3vh 4vh;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  h4
  {
    color: rgb(67, 62, 62);
    font-size: 2.5vh;
    font-family: nexaHeavy;
    margin: 3vh 4vh;
  }
  h3
  {
    color: rgb(67, 62, 62);
    font-size: 3.5vh;
    font-family: nexaHeavy;
    margin: 3vh 4vh;
  }
  h2
  {
    color: white;
    font-size: 3.5vh;
    font-family: nexaHeavy;
    margin: 3vh 4vh;
  }
  .learnedCardsInfo
  {
    color: white;
    font-size: 1.5vw;
    font-family: nexa;
    margin: 3vh 4vh;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 4vh 2vh 0;
  }
  .setEditIcon
  {
    width: 4vh;
    position: absolute;
    top: 0;
    right: 0;
    margin: 4vh 4vh 0vh 0;
  }
  .cardEditIcon
  {
    width: 3.5vh;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0vw 0vw 4vw 4vw;
  }
  .alertContainer
  {
    position: absolute;
    top:0;
    left:0;
  }
  .editAlertBox
  {
    width: 40vw;
    height: 70vh;
    background-color: rgb(127, 179, 146);
    border-radius: 5vh;
    z-index: 10;
  }
  p
  {
    color: white;
    font-size: 3.5vh;
    font-family: nexaHeavy;
    margin: 1vh 2vh;
    text-align: center;
  }
  input
  {
    background-color: #ffe3f5;
    border: 0;
    border-radius: 3vh;
    text-align: center;
    font-family: nexa;
    width: 20vw;
  }
  textarea:focus, input:focus
  {
    outline: none;
  }
  button
  {
    background-color: #f28eb3;
    padding: 1vh 3vh 1vh 3vh;
    border-radius: 3vh;
    font-family: nexaHeavy;
    color:white;
    border: 0;
    margin: 3vh;
  }
  .exitIcon
  {
    z-index: 10;
    width: 4vh;
    margin: 3vh 3vh 0 0;
  }
  select
  {
    position: absolute;
    right: 5vh;
    bottom: 1.8vh;
    background-color: rgb(254, 220, 255);
    color:#3b3d41;
    border: .4vh solid #3b3d41ba;
    border-radius: 3vh;
    font-family: nexa;
    text-align: center;
    font-size: 2vh;
    padding: 1vh 1.5vh 1vh 1.5vh;
  }
  textArea
  {
    width: 80%;
    height: 15vh;
    border-radius: 4vh;
    text-align: center;
    padding: 1vh;
    font-family: nexa;
  }
  .label
  {
    font-size: 2vh;
  }
  .backButton
  {
    width: 6vh;
    margin: 3vh 3vh 0 4vh;
  }
  .cardImage
  {
    width: 90%;
  }
}

@media (orientation: portrait) {
  h1
  {
    font-family: happy;
    letter-spacing: .5vw;
    color: #45404b;
    margin: 4vw 4vw;
  }
  #allSetsContainer
  {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr)); 
    gap: 4vw; 
    width: 95%; 
    margin: 0 0 4vw 0;
  }
  #allFlashcardsContainer
  {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr)); 
    gap: 4vw; 
    width: 95%; 
    margin: 0 0 4vw 0;
  }
  .setContainer
  {
    flex: 1; /* Equal width for all items */
    background-color: rgb(245, 157, 201);
    width: 100%;
    height: 30vw;
    border-radius: 5vw;
    position: relative;
  }
  .cardContainer
  {
    flex: 1; /* Equal width for all items */
    background-color: rgb(243, 178, 210);
    width: 100%;
    height: 30vw;
    border-radius: 5vw;
    position: relative;
    padding: 0 0 7vw 0;
  }
  .cardContainer.learned 
  {
    flex: 1; /* Equal width for all items */
    background-color: rgb(171, 205, 178);
    width: 100%;
    height: 30vw;
    border-radius: 5vw;
    position: relative;
    padding: 0 0 5vw 0;
  }
  .learnedText
  {
    color: rgb(255, 255, 255);
    font-size: 2.5vw;
    font-family: nexaHeavy;
    margin: 3vw 4vw;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  h4
  {
    color: rgb(67, 62, 62);
    font-size: 2.5vw;
    font-family: nexaHeavy;
    margin: 3vw 4vw;
  }
  h3
  {
    color: rgb(67, 62, 62);
    font-size: 3.5vw;
    font-family: nexaHeavy;
    margin: 3vw 4vw;
  }
  h2
  {
    color: white;
    font-size: 3vw;
    font-family: nexaHeavy;
    margin: 3vw 4vw;
  }
  .learnedCardsInfo
  {
    color: white;
    font-size: 3vw;
    font-family: nexa;
    margin: 3vw 4vw;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 4vw 2vw 0;
  }
  .setEditIcon
  {
    width: 4vw;
    position: absolute;
    top: 0;
    right: 0;
    margin: 4vw 4vw 0vw 0;
  }
  .cardEditIcon
  {
    width: 4vw;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0vw 0vw 4vw 4vw;
  }
  .alertContainer
  {
    position: absolute;
    top:0;
    left:0;
  }
  .editAlertBox.setAlert
  {
    width: 60vw;
    height: 43vw;
    background-color: rgb(127, 179, 146);
    border-radius: 5vh;
    z-index: 10;
  }
  .editAlertBox
  {
    width: 60vw;
    height: 90vw;
    background-color: rgb(127, 179, 146);
    border-radius: 5vh;
    z-index: 10;
  }
  p
  {
    color: white;
    font-size: 4vw;
    font-family: nexaHeavy;
    margin: 3vw 4vw;
    text-align: center;
  }
  input
  {
    background-color: #ffe3f5;
    border: 0;
    border-radius: 3vw;
    text-align: center;
    font-family: nexa;
    font-size: 2.5vw;
    width: 40vw;
    padding: 1vw 0 1vw 0;
  }
  textarea:focus, input:focus
  {
    outline: none;
  }
  button
  {
    background-color: #f28eb3;
    padding: 1vw 3vw 1vw 3vw;
    border-radius: 3vw;
    font-family: nexaHeavy;
    font-size: 3vw;
    color:white;
    border: 0;
    margin: 3vw;
  }
  .exitIcon
  {
    z-index: 10;
    width: 4vw;
    margin: 5vw 5vw 0 0;
  }
  select
  {
    position: absolute;
    right: 5vw;
    bottom: 1.2vw;
    background-color: rgb(254, 220, 255);
    color:#3b3d41;
    border: .4vw solid #3b3d41ba;
    border-radius: 3vw;
    font-family: nexa;
    text-align: center;
    font-size: 1.5vw;
    padding: 1vw 1.5vw 1vw 1.5vw;
  }
  textArea
  {
    width: 80%;
    height: 15vw;
    border-radius: 4vw;
    text-align: center;
    padding: 1vw;
    font-family: nexa;
    font-size: 3vw;
  }
  .label
  {
    font-size: 3vw;
  }
  .backButton
  {
    width: 6vw;
    margin: 3vw 3vw 0 4vw;
  }
}