@font-face {
  font-family: happy;
  src: url(fonts/Happy_Chicken.ttf);
}

@font-face {
  font-family: nexa;
  src: url(fonts/Nexa-ExtraLight.ttf);
}

@font-face {
  font-family: nexaHeavy;
  src: url(fonts/Nexa-Heavy.ttf);
}


html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #ffe3f5;
}

@media (hover: hover) {
  button:hover, .setEditIcon:hover, .exitIcon:hover  {
      opacity: .5;
      cursor: pointer;
  }
}

.cover {
  width: 100%;
  height: 100%;
  background-color: #4142459a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.horContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  width: 100%;
}

.verContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-area: overlap;
}

@media (orientation: landscape) {
  h1
  {
    font-family: happy;
    letter-spacing: .5vh;
    color: #45404b;
    margin: 4vh 4vh;
  }
  #allSetsContainer
  {
    display: flex;
    flex-wrap: wrap; 
    gap: 4vh; 
    width: 95%; 
  }
  .setContainer
  {
    flex: 1; /* Equal width for all items */
    background-color: rgb(245, 157, 201);
    width: 33%;
    height: 30vh;
    border-radius: 5vh;
    position: relative;
  }
  h2
  {
    color: white;
    font-size: 3.5vh;
    font-family: nexaHeavy;
    margin: 3vh 4vh;
  }
  .learnedCardsInfo
  {
    color: white;
    font-size: 1.5vw;
    font-family: nexa;
    margin: 3vh 4vh;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 4vh 2vh 0;
  }
  .setEditIcon
  {
    width: 4vh;
    position: absolute;
    top: 0;
    right: 0;
    margin: 4vh 4vh 0vh 0;
  }
  .alertContainer
  {
    position: absolute;
    top:0;
    left:0;
  }
  .editAlertBox
  {
    width: 40vw;
    height: 4r0vh;
    background-color: rgb(127, 179, 146);
    border-radius: 5vh;
    z-index: 10;
  }
  p
  {
    color: white;
    font-size: 3.5vh;
    font-family: nexaHeavy;
    margin: 3vh 4vh;
    text-align: center;
  }
  input
  {
    background-color: #ffe3f5;
    border: 0;
    border-radius: 3vh;
    text-align: center;
    font-family: nexa;
    width: 20vw;
  }
  textarea:focus, input:focus
  {
    outline: none;
  }
  button
  {
    background-color: #f28eb3;
    padding: 1vh 3vh 1vh 3vh;
    border-radius: 3vh;
    font-family: nexaHeavy;
    color:white;
    border: 0;
    margin: 3vh;
  }
  .exitIcon
  {
    z-index: 10;
    width: 4vh;
    margin: 3vh 3vh 0 0;
  }

}

@media (orientation: portrait) {
  h1
  {
    font-family: happy;
    letter-spacing: .5vw;
    color: #45404b;
    margin: 4vw 4vw;
  }
  #allSetsContainer
  {
    display: flex;
    flex-wrap: wrap; 
    gap: 4vw; 
    width: 95%; 
  }
  .setContainer
  {
    flex: 1; /* Equal width for all items */
    background-color: rgb(245, 157, 201);
    width: 40%;
    height: 30vw;
    border-radius: 5vw;
    position: relative;
  }
  h2
  {
    color: white;
    font-size: 3.5vw;
    font-family: nexaHeavy;
    margin: 3vw 4vw;
  }
  .learnedCardsInfo
  {
    color: white;
    font-size: 3vw;
    font-family: nexa;
    margin: 3vw 4vw;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 4vw 2vw 0;
  }
  .setEditIcon
  {
    width: 4vw;
    position: absolute;
    top: 0;
    right: 0;
    margin: 4vw 4vw 0vw 0;
  }
  .alertContainer
  {
    position: absolute;
    top:0;
    left:0;
  }
  .editAlertBox
  {
    width: 60vw;
    height: 20vh;
    background-color: rgb(127, 179, 146);
    border-radius: 5vh;
    z-index: 10;
  }
  p
  {
    color: white;
    font-size: 4vw;
    font-family: nexaHeavy;
    margin: 3vw 4vw;
    text-align: center;
  }
  input
  {
    background-color: #ffe3f5;
    border: 0;
    border-radius: 3vw;
    text-align: center;
    font-family: nexa;
    width: 40vw;
  }
  textarea:focus, input:focus
  {
    outline: none;
  }
  button
  {
    background-color: #f28eb3;
    padding: 1vw 3vw 1vw 3vw;
    border-radius: 3vw;
    font-family: nexaHeavy;
    color:white;
    border: 0;
    margin: 3vw;
  }
  .exitIcon
  {
    z-index: 10;
    width: 4vw;
    margin: 5vw 5vw 0 0;
  }
}